.editor {
  flex-direction: column;
  height: 100%;
  background-color: #fff;

  &, &__header, &__content, &__footer {
    display: flex;
  }

  &__header {
    flex: 0 1 auto;

    &-tools  {
      margin-left: auto;
    }
  }

  &__content {
    flex: 1 1 auto;
  }

  &__footer {
    flex: 0 0 auto;

    &-tools  {
      margin-right: auto;
    }
  }

  &__button {

  }

  &__text {

  }
}
